@import "./ui/styleUtils/index";

.content {
  max-width: 1000px;
}

.demoImage {
  max-width: 100%;
  border-radius: $sizeM;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0 0 0, rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: box-shadow $transitionSpeed;

  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 1;
  }
}
