name: Deploy to GitHub Pages
on:
  push:
    branches: [feature/github-page]

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v1

      - name: Install Dependencies
        run: npm install

      - name: Build Demos Script
        run: npm run buildDemos

      - name: Build Page Script
        run: npm run buildDocs

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          # Everything in the docs/public folder will be uploaded as the GitHub page
          path: "docs/public"

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
